.viewing {
  overflow: auto; }

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE Width
     ==================== */ }
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE Width
     ==================== */
  .viewing .last_viewing {
    float: left;
    width: 50%; }
  .viewing .next_viewing {
    float: left;
    width: 50%; } }
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */ }
