%header
  %h2 series
- @user.series.each_with_index do |s, i|
  %section
    %h3= s.name
    %h4 Overview:
    %p= s.overview
    - if s.viewed? @user.id
      - last_viewing = Viewing.last(user_id: @user.id, series_id: @user.series[i].id).first
      %h2 Last Viewed Episode
      %p= last_viewing.episode.name
      %p= last_viewing.episode.overview
